#top-bar {
  height: 2em;
  font-weight: 400;
  font-size: 1.25em; }
  #top-bar img {
    height: 1em;
    margin: 0.5em 0; }
  #top-bar .small-8 {
    line-height: 2em; }

#footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center; }

.box {
  margin-top: 1em;
  background: #fff; }

.image-circle {
  width: 50%;
  border-radius: 50%;
  overflow: hidden; }
