<!doctype html>
<html class="no-js" lang="zh-hans">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>大转盘</title>
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="css/app.css" />
    <!-- endbuild -->
  </head>
  <body>
    {% block main %}{% endblock %}
    <!-- build:js js/app.min.js -->
    <script src="js/jquery.min.js"></script>
    <!-- <script src="js/what-input.min.js"></script> -->
    <!-- <script src="js/foundation.min.js"></script> -->
    <script src="js/snap.svg-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="js/app.js"></script>
    <!-- endbuild -->
    {% block js %}{% endblock %}
 </body>
</html>
